html
    head
        meta(charset='UTF-8')
        title Failed to add listing
        link(rel='stylesheet' href='css/main.css')
    .top
        .element
            a.top_link(href='main') Home
        .element
            a.top_link(href='../../create') Add Task
        .element
            form(method='GET' action='main')
                input#query.form_element(type='text' name='query')
                input.form_element(type='Submit' value='Search')
        .elemetn 
            a.top_link(href='/logout') Logout
    p Fail! Check input!
